[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=VSCode on AUT (on dbox-nixbox)
Exec=/usr/bin/distrobox-enter -n BOX_NAME -- zsh -l -c 'code --ozone-platform=wayland'
